# DIA 1
## Temario
- Tipos de datos
- Operaciones Matemáticas
- Operaciones con String
- Operaciones Lógicas
- Operaciones Booleanas

#Tipos de datos

In [2]:
# Existen los datos:
enteros = 4 # Son números sin decimales
flotantes = .99 # Son números con decimales
type(flotantes)

float

In [3]:
# Caracteres/ String
caracteres= "a"
cadena_caracteres = "todas las letras que quieras"
type(cadena_caracteres)

str

In [ ]:
# Booleanos
falso = False # falso es 0
verdadero = True # verdadero es 1

In [ ]:
# imprimir

### Espera, el usuario también puede ingresar datos

In [8]:
# Con la función inpt, el usuario puede ingresar cualquier tipo de dato
# y podemos guardarlo en alguna variable
name = input("Mi nombre es: ") # te lo guarda como un string
print(name)

num = input("Ingresa un número: ")
print(num + 1)

Mi nombre es: angel
angel
Ingresa un número: 2

TypeError: can only concatenate str (not "int") to str

In [10]:
num = int(input("ingresa un número: "))
print(num +1)

ingresa un número: 4
5

## Operaciones Matemáticas

In [12]:
# 4to nivel de importancia
# Suma Ordinaria
print("----------------------------")
print("Suma Ordinaria: ")
print(3 + 4)
variable1,variable2 = 20,40 #60
print(variable1 + variable2)

# Resta Ordinaria
print("----------------------------")
print("Resta Ordinaria: ")
print(2- 5)
# Declaración de variables
v1 = 10.4
v2 = 15
resultado = v2- v1
print(resultado)

# 3er nivel de impportancia
# Multiplicación Ordinaria
print("----------------------------")
print("Multiplicación Ordinaria: ")
m1,m2 = 2,3.14
print(m1 * m2) # 6.28
# División Ordinaria
print("División Ordinaria: ")
M1,M2,M3,M4,M5,M6 = 2,5,6,5,4,5
print(M1 / M2)
print(M3 / M4)
print(M5 / M6)

# División de piso
print("----------------------------")
print("División de piso")
print(M1 // M2)
print(M3 // M4)
print(M5 // M6)

print( 6 / 2 * 3)

----------------------------
Suma Ordinaria:
7
60
----------------------------
Resta Ordinaria:
-3
4.6
----------------------------
Multiplicación Ordinaria:
6.28
División Ordinaria:
0.4
1.2
0.8
----------------------------
División de piso
0
1
0
9.0

In [8]:
# Potencias
print("Potencias: ")
print(2 ** 3) # 8
P1,P2 = 7,2
print(P1 ** P2)

Potencias:
8
49

In [9]:
# Area de un circulo
pi = 3.14
r = 4
A = pi * (r ** 2)
print(A)

50.24

## Operaciones String

In [11]:
HM = "Hola mundo"
print(HM)

a,b = "ta","co"
print(a + " " + b)

Hola mundo
ta co

In [12]:
# Animal, debde de tener un nombre, le debe gustar una fruta, debe tener una profesión
Animal = "Mono"
Nombre = "Filipondio"
Fruta = "Platano"
Profesión = "Ingeniero"
print(f"Hola soy {Nombre} y soy un {Animal} me gusta el {Fruta} y soy un {Profesión}")

Hola soy Filipondio y soy un Mono me gusta el Platano y soy un Ingeniero

## Operaciones Lógicas

In [11]:
# Empezamos con los operadores lógicos <,>, <=,>=, and, or
b1 = 4>5
b2 = 7<1
b3 = 14<=14
print(b1)
print(b2)
print(b3)

False
False
True

In [16]:
# Quieres un sandwich con todo
pan = True
queso = True
mayonesa = True
jamon = False
print(pan & queso & mayonesa & jamon)
print(pan & queso & mayonesa)
print(queso & mayonesa, (mayonesa | jamon))

False
True
True True

In [14]:
print(True * 20)
print(False * 10)

20
0